/* Overall style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style html element */
html {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* boby styling */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color:rgb(30, 78, 80);
}