{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/create_account.css') }}">
{% block title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <span class="close-btn">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="todo-container">
    <h1>Todo-list App</h1>
</div>
<div class="account-container">
    <form method="POST" action="{{ url_for('auth.update', task_id=task.id) if mode == 'update' else url_for('auth.add') }}">
        {{ form.hidden_tag() }}
        {{ form.hidden_tag() }}
        <h4 style="text-align: center;">{{ title }}</h4>
        <div class="field">
            {{ form.task.label }}<br>
            {{ form.task(class="form-ctr") }}
        </div>
        <div class="submit-field">
            <span><a href="{{ url_for('views.dashboard') }}" class="cancel">Cancel</a></span>
            {{ form.submit(class="submit-btn", value='Update Task' if mode == 'update' else 'Add Task') }}
        </div>
    </form>
</div>

{% endblock %}